* {
  box-sizing: border-box;
  /*font-family: 'Roboto', sans-serif; */
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  color: rgb(20, 20, 20);
}

.massages:hover {
  /* transform: scale(1.04); */
}

.alert-enter {
  transform: translateX(-100%);
}
.alert-enter-active {
  transform: translateX(0%);
  transition: transform 300ms;
}
.alert-exit {
  transform: translateX(0%);
}
.alert-exit-active {
  transform: translateX(100%);
  transition: transform 300ms;
}

.review-enter {
  transform: translateY(-100%);
}
.review-enter-active {
  transform: translateY(0%);
  transition: transform 300ms;
}
.review-exit {
  transform: translateY(0%);
}
.review-exit-active {
  transform: translateY(100%);
  transition: transform 300ms;
}
